/* Core Styles */

html {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
}

button, hr, input {
    overflow: visible;
}

/* Main Container */

.container {
    background: #FFF6E9;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 90px);

    /* Primary Navigation */

    .navigation {
        background: #6D92B2;
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;

        a {
            color: white;
            display: block;
            padding: 1.7em;
            text-decoration: none;

            &:hover {
                background: #5b7c99;
            }
        }

        a.logo {
            margin-right: auto;

            &:hover {
                background: none;
            }
        }
    }

    .menu-icon {
        display: none;
    }

    @media (max-width: 900px) {
        .navigation {
            justify-content: space-around;

            a.logo {
                display: none;
            }
        }
    }

    @media (max-width: 600px) {
        .navigation {
            flex-flow: column wrap;
            padding: 0;
            position: absolute;
            top: 51px;
            transform: translateY(-100%);
            transition: transform .2s ease-out;
            width: 100%;

            .nav-in & {
                transform: translateY(0);
            }

            a { 
                border-top: 1px solid rgba(255,255,255,0.3); 
                border-bottom: 1px solid rgba(0,0,0,0.1); 
                padding: 10px;
                text-align: center; 

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .menu-icon {
            background: #5b7c99;
            border: none;
            box-shadow: none;
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 18px;
            font-weight: 700;
            outline: 0;
            padding: 15px 12px;
            text-transform: uppercase;
            z-index: 999;

            &.active {
                background: #293b4b;
            }
        }
    }

    /* Banner Image */

    .banner {
        align-items: center;
        background-image: url(../img/fortworthskyline.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        height: 550px;

        &-content {  
            background: #FFF6E9;
            color: #6D92B2;
            padding: 40px 60px;
            text-align: center;
            max-width: 50%;   
        }
    }

    @media (max-width: 900px) {
        .banner {
            height: 510px;
        }
    }

    @media (max-width: 600px) {
        .banner {
            height: 427px;
        }
    }

    /* Grid */
    .grid {
        background: #cfe8ff;
        padding: 1.7em;

        &-hdr {
            color: #3e5c76;
            margin-top: 0;
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -.9375rem 1rem;
        }

        [class*="grid-col-"] {
            background-color: #6d92b2;
            color: #fff6e9;
            padding: .75rem .9375rem;
            width: 100%;
        }

        @media (min-width: 34em) {
            &-col-sm-6 {
                flex: 0 0 50%;
            }
        }

        @media (min-width: 48em) {
            &-col-md-4 {
                flex: 0 0 33.333333%;
            }
        }

        @media (min-width: 62em) {
            &-col-lg-4 {
                flex: 0 0 33.333333%;
            }
        }

        @media (min-width: 75em) {
            &-col-xl-4 {
                flex: 0 0 33.333333%;
            }
        }
    }

    /* Main Content */

    .main {
        padding: 1.7em;
        text-align: center;

        &-container {
            margin: 0 auto;
            max-width: 65%;
        }
    }

    /* News */

    .news {
        align-items: stretch;
        color: #fff;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        height: 300px;

        .col {
            flex-grow: 1;
            padding: 40px 50px;

            &.col-4 {
                background: #6D92B2;
                color: #FFF6E9;
            }

            &.col-8 {
                background: #CFE8FF;
                color: #6D92B2;
            }
        }
    }

    @media (min-width: 1170px) {
        .news {
            flex-flow: row wrap;
        }
    }

    /* Gallery */

    .gallery {
        background: #FFEDCF;
        padding: 30px;
        position: relative;

        ul {
            display: flex;
            flex-flow: row wrap; 
            justify-content: center;
            list-style: none;
            margin: 0 auto;
            max-width: 1100px;
            padding: 0;

            li {
                color: white;
                flex: auto;
                font-size: 3em;
                font-weight: bold;
                height: auto;
                margin: .5vw;
                text-align: center;
                width: 250px;

                a {
                    display: block;

                    img {
                        display: block;
                        width: 100%;  
                    }
                }
            }
         }
    }

    @media (min-width: 1170px) {
        .gallery {
            padding: 50px 20px;
        }
    }

    /* Services */

    .services {
        align-items: center;
        background: #CFE8FF;
        display: flex;
        flex-flow: row wrap; 
        justify-content: center;
        padding: 25px 20px;

        .service-item {
            background: #FFF6E9;
            color: #6D92B2;
            flex: auto;
            height: auto;
            margin: 15px;
            padding: 20px 40px;
            width: 280px;
        }
    }

    /* Gallery Two */

    .galleryTwo {
        background: #FFEDCF;
        display: flex;
        justify-content: center;
        padding: 30px;
        position: relative;

        .parent {
            display: flex;
            flex-flow: row wrap;
            max-width: 90%;
            padding: 0.25rem;

            .child {
                flex: 1 0 25%;
                min-width: 200px;
                overflow: hidden;
                padding: 0.25rem;

                div {
                    background: #6D92B2;
                    color: #FFF6E9;
                    height: 200px;
                    padding: 40px;
                }

                &:nth-child(2n) div {
                    background: #CFE8FF;
                    color: #6D92B2;
                }
            }
        }
    }

    /* Gallery Three */

    .galleryThree {
        padding: 30px;
        position: relative;

        &-content {
            align-items: flex-start;
            display: flex;
            flex-flow: column wrap;
            height: 600px;
            justify-content: flex-start;
            max-width: 1200px;
            margin: 0 auto;
        }

        @media (max-width: 1200px) {
            &-content {
                align-items: center;
                justify-content: center;
                height: auto;
            }
        }

        &-item {
            background: #6D92B2;
            color: #FFF6E9;
            height: 150px;
            margin: 0;
            width: 26.7%;
            overflow: hidden;
            padding: 40px;

            &:nth-child(2) {
                background: #CFE8FF;
                color: #6D92B2;
                height: 290px;
            }

            &:nth-child(3) {
                background: #3e5c76;
                height: 600px;
            }

            &:nth-child(4) {
                background: #CFE8FF;
                color: #6D92B2;
                height: 290px;
            }
        }

        @media (max-width: 1200px) {
            &-item {
                width: 76.7%;
            }
        }
    }

    /* Masonry Grid */

    .masonry {
        background: #FFEDCF;
        padding: 50px;

        &-grid {
            align-content: flex-start;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 0 auto;
            max-width: 1170px;
        }

        &-card {
            background-color: #ffffff;
            box-shadow: 0px 0px 10px 0px rgba(110, 123, 140, 0.3);
            flex: auto;
            height: 320px;
            margin: 7px;
            position: relative;
            width: 320px;

            &.wide {
                height: auto;

                @media (min-width: 560px) {
                    width: 480px;
                }
            }

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .info-center {
                align-items: center;
                background: rgba(0, 0, 0, 0.3);
                bottom: 0;
                color: white;
                display: flex;
                font-size: 24px;
                font-weight: bold;
                justify-content: center;
                left: 0;
                padding: 0 10px;
                position: absolute;
                right: 0;
                text-align: center;
                text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
                top: 0;
            }
        }

        &-card-half {
            background-color: #ffffff;
            box-shadow: 0px 0px 10px 0px rgba(110, 123, 140, 0.3);
            display: flex;
            flex-flow: column wrap;
            flex: auto;
            height: 320px;
            justify-content: flex-end;
            margin: 7px;
            width: 320px;

            &.wide {
                height: auto;

                @media (min-width: 560px) {
                    width: 480px;
                }
            }

            .card-img {
                flex: auto;
                height: 160px;
                position: relative;

                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .card-text {
                padding: 0 20px 5px;
            }
        }
    }

    /* Accordion */

    .accordion {
        display: flex;
        flex-direction: column;
        height: auto;

        @media (min-width: 1170px) {
            flex-direction: row;
            height: 600px;
        }

        &-section {
            background: #CFE8FF;
            color: #6D92B2;
            display: flex;
            flex-direction: column;
            flex: 1 0 10em;  
            overflow: hidden;
            padding: 1em;
            transition: flex-basis 500ms ease-in-out .25s;

            h2 {
                font-size: 1.2em;
                font-weight: 600;
            }

            &:hover {
                flex-basis: 20em;
            }

            &:nth-child(2n) {
                background: #3e5c76;
                color: white;
            }

            @media (min-width: 1170px) {
                flex-shrink: 1;
            }
        }
    }

    /* Info Cards */

    .info-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 30px 50px;

        &-item {
            display: flex;   
            margin-top: 0;
            padding: 10px;

            @media (min-width: 640px) {
                width: 75%;
            }

            @media (min-width: 960px) {
                width: 25%;
            }
        }

        &-detail {
            background-color: #fff;
            display: flex;
            flex-direction: column;
        }

        &-image {
            img {
                width: 100%;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            margin-top: 0;
            padding: 1.5em;

            h2 {
                margin: 0;
            }

            p {
              flex: 1 0 auto;
            }

            .info-cards-button {
                display: inline-block;
                padding: 0.8em 1em;
                font-weight: 700;
                line-height: 1;
                text-decoration: none;
                background-color: #aaa;
                color: #fff;
            }
        }
    }


    /* One More Grid */

    .one-more-grid {
        background: #6D92B2;
        padding: 40px 20px;
        
        &-container {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-item {
            display: flex;
            justify-content: center;
            padding: 10px;
            width: 100%;

            @media (min-width: 600px) {
                width: 50%;
            }

            @media (min-width: 1170px) {
                width: 33%;
            }

            figure {
                background: #fff;
                box-shadow: 0 2px 3px rgba(black,0.1);
                position: relative;
            }

            img {
                display: block;
                width: 100%;
            }

            figcaption {
                color: #444;
                padding: 8px 16px 16px;
            }

            header {
                margin: 16px 16px 0;
            }

            h2 {
                margin: 0;
                padding: 0 0 0;
            }
        }
    }


    /* Contact Us */

    .contact {
        background: #3e5c76;
        color: #FFF6E9;
        padding: 50px;

        h2 {
            margin: 0;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 auto;
            max-width: 600px;
            padding: 4em 0;

            @media (min-width: 600px) {
                flex-direction: row;
            }
        }

        input, button {
            height: 50px;
            margin: 0 1em;
            outline: 0;
            padding: 10px;
        }

        input {
            background-color: #fff;
            border: 1px solid #3e5c76;
            color: #6D92B2;
            margin-bottom: 1em;
            transition: border-color 0.4s;

            @media (min-width: 600px) {
                flex: 3;
                margin-bottom: 0;
            }
        }

        button {
            background: #6D92B2;
            border: 0;
            box-shadow: inset 0 0 0 1px #CFE8FF;
            color: #CFE8FF;
            height: 50px;
            letter-spacing: 1px;
            transition: background 0.4s;

            &:hover, &:focus {
                background: #709fc7;
            }

            @media (min-width: 600px) {
                flex: 100px;
            }
        }
    }
}

/* Footer */

footer {   
    background: #6D92B2;
    color: #FFF6E9;
    font-size: .85em;
    padding: 1.5rem;
    text-align: center;

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 5px;
        }
    }
}